<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <% if (post.comments && config.duoshuo_shortname){ %>
  <a href="javascript:void(0)" onclick="toggleDuoshuoComments('#ds-thread');">多说评论(<span class="ds-thread-count" data-thread-key="<%- url_for(page.path) %>">0</span>)</a>
  <% } %>
  <!-- 多说评论框 start -->
  <div id="ds-thread"></div>
  <!-- 多说评论框 end -->
  <% if (post.comments && config.disqus_shortname){ %>
  <a href="javascript:void(0)" onclick="toggleDisqusComments('disqus_thread');">Disqus评论(<span class="disqus-comment-count" data-disqus-url="<%- post.permalink %>">0</span>)</a>
  <% } %>
  <div id="disqus_thread"></div>
</section>
<% } %>